<!DOCTYPE html>
<html>
  <head>
    <title>Mikeipedia</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs" role="navigation">
        <li><%= link_to "Mikeipedia", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% if current_user && current_user.premium? %>
          <li><%= link_to "Downgrade", new_charge_path %></li>
        <% elsif current_user && current_user.standard? %>
          <li><%= link_to "Upgrade", new_charge_path %></li>
        <% end %>

        <div id="user_control">
          <p class="navbar-text navbar-right">
          <% if user_signed_in? %>
            <% if current_user.premium? %>
              Signed in as: <strong><%= current_user.email %></strong><span class="badge">Prem</span>&emsp;
            <% else %>
              Signed in as: <strong><%= current_user.email %></strong>&emsp;
            <% end %>

            <%= link_to "Edit Profile", edit_user_registration_path, :class => 'navbar-link' %> -
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %> -
            <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link' %>
          <% end %>
          </p>
        </div>
      </ul>

      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
